@import "tailwindcss";

@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}


:root {
    --main-first: #E85002;
    --main-back: #0D0D0D;
    --white: #F9F9F9;
    --gray-1: #646464;
    --gray-2: #A7A7A7;
    --gray-3: #333333;
    --gray-4: #D9D9D9;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--main-back);
        --foreground: var(--white);
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--main-back);
    color: var(--foreground);
    font-family: "Raleway", sans-serif;
}