@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
    --main-first: #E85002;
    --main-back: #0D0D0D;
    --white: #F9F9F9;
    --gray-1: #646464;
    --gray-2: #A7A7A7;
    --gray-3: #333333;
    --gray-4: #D9D9D9;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--main-back);
        --foreground: var(--white);
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'Raleway', sans-serif;
}